@media (min-width: 320px) {
  #about {
    height: 130px;
    text-align: none;
    background: $color5;
    border-bottom: solid 1px $color2;
    p {
      font-size: 25px;
      margin: 20px 0 10px 0;
    }
    a {
      line-height: 1.7em;
      text-decoration: none;
      padding: 10px 15px;
      background: $color2;
      text-align: center;
      color: white;
      border-radius: 3px;
      font-weight: bold;
    }
  }
}
@media (min-width: 768px) {
  #about {
    padding-left: 40px;
    p {
      margin: 25px 0 15px 0;
    }
  }
}
@media (min-width: 1024px) {
  #about {
    text-align: center;
    padding: 0;
    p {
      margin-bottom: 20px;
    }
    a:hover {
      border: 1px solid white;
      opacity: 0.8;
    }
  }
}
