@media (min-width: 320px) {
  footer {
    height: 50px;
    font-size: 15px;
    background: $color2;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media (min-width: 768px) {
  footer {
    height: 60px;
    font-size: 21px;
    background: $color2;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
