@media (min-width: 320px) {
  #games {
    text-align: center;
    h1 {
      margin-bottom: 0;
    }
    hr {
      width: 200px;
      border: 1px solid $color3;
    }
    #boxes {
      height: 650px;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      flex-direction: column;
      margin-bottom: -150px;
    }
    .box {
      width: 70%;
      height: 30%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      #snakes {
        display: none;
      }
      img {
        width: 100px;
        height: 100px;
        border: 1px solid black;
      }
      p {
        margin: 5px 0;
      }
    }
    .game {
      h5 {
        margin: 0;
        font-weight: normal;
      }
    }
  }
}
@media (min-width: 768px) {
  #games {
    #boxes {
      height: 250px;
      width: 900px;
      flex-direction: row;
      margin: 0;
    }
  }
}
@media (min-width: 1024px) {
  #games {
    #boxes {
      padding: 0;
      width: 100%;
    }
    .box {
      .game {
        cursor: pointer;
        &:hover {
          opacity: 0.7;
        }
      }
      #snakes {
        display: block;
      }
    }
  }
}
