@media(min-width:360px){
  #showcase{
    text-align: center;
    height: 220px;
    font-size: 25px;
    border-bottom: 1px solid $color2;
    h1{
      margin-bottom: 20px;
    }
    a{
      color:white;
      font-weight: bold;
      line-height: 2em;
      padding: 1px 5px;
      border:solid 5px $color1;
      border-radius: 5px;
      background: $color1;
      text-decoration: none;
    }
    img{
      position: absolute;
      left:80px;
      z-index: -1;
      top:115px;
      height: 200px;
      width: 200px;
    }
  }
}