@media (min-width: 320px) {
  #showcase {
    background: url("logo.png") no-repeat 50% 62px;
    background-size: 200px 200px;
    text-align: center;
    height: 220px;
    font-size: 25px;
    border-bottom: 1px solid $color2;
    h1 {
      margin-bottom: 20px;
    }
    a {
      color: white;
      font-weight: bold;
      line-height: 2em;
      padding: 10px 20px;
      border-radius: 3px;
      background: $color1;
      text-decoration: none;
    }
  }
}
@media (min-width: 768px) {
  #showcase {
    height: 300px;
    font-size: 28px;
    background: url("logo.png") no-repeat 50% 93px;
    background-size: 220px 220px;
    h1 {
      margin: 50px 0 70px 0;
    }
  }
}
@media (min-width: 1024px) {
  #showcase {
    a:hover {
      border: 2px solid white;
      opacity: 0.8;
    }
  }
}
