@media (min-width: 320px) {
  form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .form-head h1 {
    width: 100%;
    text-align: center;
    margin-bottom: 5px;
  }

  .form-head hr {
    margin: auto;
    width: 100px;
    border: 1px solid #909fee;
    margin-bottom: 20px;
  }

  .form-group {
    margin: 15px 0;
  }
  label {
    display: block;
  }

  form input {
    height: 20px;
  }

  form select {
    height: 27px;
    padding-right: 50px;
  }

  form textarea {
    font-family: "Josefin Sans", sans-serif;
  }

  form button {
    padding: 5px 10px;
    border: none;
    font-size: 15px;
    color: white;
    background: #6078ea;
    border-radius: 3px;
  }

  footer {
    margin-top: 50px;
  }
}
@media (min-width: 768px) {
  .form-head h1 {
    font-size: 50px;
  }
  .form-head hr {
    width: 130px;
  }
  label {
    font-size: 25px;
  }
  form input {
    height: 25px;
    width: 250px;
  }
  form select {
    height: 32px;
    width: 256px;
  }
  form textarea {
    width: 250px;
    font-size: 18px;
    height: 80px;
  }
  form button {
    font-size: 20px;
    padding: 10px 20px;
    margin-top: 10px;
  }
}
@media (min-width: 1024px) {
  form button:hover {
    cursor: pointer;
    line-height: 1.1em;
    border: solid 1px white;
    opacity: 0.8;
  }
}
