@import "./color";

//Global
html {
  scroll-behavior: smooth;
}

@media (min-width: 320px) {
  body {
    background: $color6;
    padding: 0;
    margin: 0;
    font-size: 18px;
    font-weight: bold;
    font-family: "Josefin Sans", sans-serif;
    overflow-x: hidden;
  }
}
@media (min-width: 768px) {
  body {
    font-size: 20px;
  }
}

.container {
  width: 90%;
  margin: auto;
  overflow: hidden;
}

.clear {
  clear: both;
}

@import "./header";
@import "./showcase";
@import "./about";
@import "./games";
@import "./footer";
