@import './color';

//Global
html {
  scroll-behavior: smooth;
}

body{
  background:$color6;
  padding:0;
  margin:0;
  font-size: 18px;
  font-family: 'Josefin Sans', sans-serif;
  overflow: hidden;
}

.container{
  width: 90%;
  margin: auto;
}

.clear{
  clear: both;
}

@import './header';
@import './showcase';
@import './about';
@import './games';
@import './footer';
