@media (min-width: 320px) {
  .heading h1 {
    margin: 20px 0 0 0;
    text-align: center;
  }
  .heading hr {
    width: 100px;
    border: 1px solid #909fee;
    margin: 0 auto;
  }
  table {
    display: flex;
    align-items: center;
    justify-content: center;
    border-collapse: collapse;
    margin-top: 60px;
  }

  td {
    border: 2px solid #333;
    height: 60px;
    width: 60px;
    text-align: center;
    vertical-align: middle;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 30px;
    cursor: pointer;
  }

  table tr:first-child td {
    border-top: 0;
  }

  table tr:last-child td {
    border-bottom: 0;
  }

  table tr td:first-child {
    border-left: 0;
  }

  table tr td:last-child {
    border-right: 0;
  }

  .endgame {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    background: #6078ea;
    opacity: 0.8;
  }

  .endgame .text {
    color: white;
    font-size: 40px;
    font-weight: bold;
  }

  .endgame button {
    font-family: "Josefin Sans", sans-serif;
    font-weight: bolder;
    font-size: 30px;
    padding: 10px 20px;
    background: #909fee;
    text-align: center;
    border: 1px solid white;
    color: white;
    border-radius: 3px;
  }

  footer {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
}
@media (min-width: 1024px) {
  table {
    margin-top: 100px;
  }
  .endgame button:hover {
    cursor: pointer;
    background: none;
  }
}
